@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.typography--sm {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 634px;
  height: 48px;
}

.typography--md {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 634px;
  height: 60px;
}

.typography--lg {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 634px;
  height: 72px;
}
p {
  text-indent: 20px;
}
