@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.accordion {
  width: 634px;
  min-height: 116px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.accordion-header {
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  background-color: white;
  width: 420px;
  min-height: 120px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
